 :root {
  --light: rgba(10, 157, 255,0.08);
}
::-webkit-scrollbar-thumb {
  background: var(--color)
}
::selection {
  background: var(--color);
  color: #fff;
} 

button:active {
  transform: scale(0.96)
}
input {
  font-family: inherit
}
input::placeholder {
  color: #aaa;
}
.dashboard {
  display: grid;
  grid-template-columns: 220px auto;
  overflow-y: hidden;
  transition: all 0.2s;
}
.dashboard > div {
  position: relative;
  height: 100vh;
}
.sidebar {
  position: relative;
  background: #fff;
  padding: 10px;
  text-align: center;
  overflow: visible;
  box-shadow: 8px 0px 28px -21px rgba(25,34,51,0.15);
  z-index: 900;
  transition: all 0.3s;
}
.homecont {
  position: relative;
  background: #f4f7fd;
  padding: 100px 20px 40px 20px;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.3s;
} 
.homecont input {
  border: none;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}
.sidelogodiv {
  margin: auto;
  text-align: center;
}
.sidebarinner {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}
.sidebarinner::-webkit-scrollbar {
  display: none;
}
.sidebar h3 {
  font-size: 22px;
  color: #777;
  text-align: center;
  font-weight: 600;
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}
.sidebar .sidelogo {
  width: 40px;
  border-radius: 15px;
  margin-right: 10px;
  top: 9px;
}
.sidemenu {
  position: relative;
  margin-top: 50px;
  text-align: left;
  height: 70%;
  overflow-y: scroll;
}
.sidemenu::-webkit-scrollbar {
  display: none;
}
.sidemenu h5 {
  color: #666;
  font-size: 14px;
  font-weight: 500; 
  margin: 5px auto;
  border-radius: 15px;
  transition: all 0.2s;
}
.sidemenu h5 span {
  display: block;
  cursor: pointer;
  padding: 12px 17px;
  border-radius: 15px;
}
.sidemenu h5 > div {
  position: relative;
  transition: all 0.2s; 
  height: 0;
  height:0;
  overflow: hidden;
  opacity: 0;
  border-radius: 12px;
  background: rgba(10, 157, 255,0.04);
}
.sidemenu h5:hover span {
  background: var(--light);
  color: var(--color)
} 
.sidemenu h5 i:first-child {
  margin-right: 10px;
  font-size: 17px;
  transition: all 0.2s;
}
.sidemenu h5 .fa-angle-up {
  float: right;
  transition: all 0.2s;
}  
.sidemenu .activesidelink span {
  background: var(--light);
  color: var(--color)
}
.sidemenu h6 {
  color: #666;
  font-size: 14px;
  font-weight: 500; 
  margin: 5px auto;
  padding: 10px 17px;
  border-radius: 15px;
  transition: all 0.2s;
  cursor: pointer; 
}
.sidemenu h6:hover {
  background: var(--light);
  color: var(--color)
}
.sidemenu h6 i {
  margin-right: 5px;
}
.sidebar .logoutbtn {
  padding: 15px 30px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  color: var(--color);
  background: var(--light);
  margin-top: 50px;
  font-size: 15px;
}
.sidebar .logoutbtn:hover {
  background: var(--color);
  color: #fff;
}
 
.topbar {
  position: fixed;
  top: 0;
  right: 15px;
  width: calc(100% - 235px);
  height: 70px;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 10px 18px -21px rgba(25,34,51,0.15);
  border-left: 1px solid rgba(10, 157, 255,0.04);
  padding: 10px 20px;
  transition: all 0.3s;
}
.sitelink {
  position: relative;
  float: left;
  padding: 8px 20px;
  top: 10px; 
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid var(--light);
  transition: all 0.2s;
  cursor: pointer;
}
.sitelink:hover {
  background: var(--light)
}
.sitelink i {
  margin-right: 10px;
}
.sitelink {
  font-size: 14px;
}
.addprodbtn {
  top: 7px;
  padding: 12px 20px;
  border-radius: 20px;
  background: var(--color);
  color: #fff;
  float: left;
}
.addprodbtn:hover {
  filter: brightness(110%);
}
.topbar .search {
  position: relative;
  margin-left: 20px;
  float: left;
}
.topbar .search i {
  position: absolute;
  top: 18px;
  z-index: 10;
  left: 20px;
  color: #aaa;
}
.topbar .search input {
  padding: 12px 20px;
  top: 7px;
  border: none;
  background: #f2f7fa;
  border-radius: 20px;
  padding-left: 50px;
  max-width: 200px;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.topbar .search input:focus {
  max-width: 250px;
  border: 1px solid var(--light)
}
.topbar .search input::placeholder {
  opacity: 0.3;
}

.homegrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 30px 20px;
}
.dashsmallgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  grid-column: span 10;
}
.dashbox {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 18px -21px rgba(25,34,51,0.15);
  padding: 30px 20px;
  background: #fff;
  transition: all 0.3s;
}
.smallbox:hover {
  box-shadow: 0px 20px 18px -21px rgba(25,34,51,0.25);
}
.smallbox span {
  float: left;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 100%;
  margin-right: 40px;
  font-size: 23px;
}
.smallbox h3 {
  float: right;
  font-size: 30px;
  font-weight: 700;
  color: #555;
}
.smallbox h3 small {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
}  
.dashmed {
  grid-column: span 5;
  padding: 30px;
}
.dashbox h5 {
  color: #555;
  font-size: 19px;
}
.homegrid .dashlarge {
  grid-column: span 10;
}
.dashbox table {
  margin: 10px auto;
  margin-top: 40px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.dashbox table h5 {
  margin-bottom: 30px;
} 
.dashbox table th {
  position: relative;
  font-size: 13px;
  color: #aaa;
  font-weight: 600;
  user-select: none;
}
.dashbox table th h6 {
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s;
  margin-bottom: 15px;
  display: inline-block;
}
.dashbox table th h6:hover {
  color: var(--color)
}
.dashbox table th i {
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
} 
.dashbox table th i:hover {
  background: var(--light)
}
.dashbox table tbody {
  margin-top: 20px;
  color: #555;
}
.dashbox table tbody td {
  padding: 10px 5px;
  font-size: 14px;
}
.dashbox table tbody td:first-child {
  width: 80px;
}
.dashbox table tbody img {
  width: 70px;
  height: 90px;
  margin-right: 40px;
}
.dashbox table tbody .prodname {
  top: -40px;
  color: #333;
  user-select: none;
}
.dashbox table tbody .hottag {
  color: #FF3737
}
.dashbox table tbody .saletag {
  color: var(--color)
}
.dashbox table .stockstatus {
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
}
.dashbox table .instock {
  background: var(--light);
  color: var(--color);
}
.dashbox table .outstock {
  background: rgba(255, 196, 196,0.4);
  color: #FF3737;
}
.dashbox table tfoot small {
  font-size: 12px;
  color: var(--color);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s;
  padding: 7px 10px;
  border-radius: 20px;
  white-space: nowrap;
}
.dashbox table tfoot small:hover {
  background: var(--light)
}

h2.homepagetitle {
  font-size: 24px;
  color: #333;
  font-weight: 500;
  margin-bottom: 30px;
}

.addproductcont {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 18px -21px rgba(25,34,51,0.15);
  margin-bottom: 30px;
} 
.addproductcont .addform {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
}
.addproductcont .gsub {
  border-right: 1px solid #f5f5f5;
  padding: 30px;
}
.addproductcont .gsub:last-child {
  border: none;
}
.addproductcont .gsub h4 {
  color: #777;
  font-size: 18px;
}
.addproductcont label, .addproductcont .label {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.addproductcont label h6, .addproductcont .label h6 {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}
.addproductcont label input, .addproductcont label textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid #e1e1e1;
  width: 350px;
  font-size: 14px;
  color: #555;
  resize: vertical; 
  font-family: inherit;
}
.addproductcont label textarea {
  min-height: 150px;
}
.addproductcont label input::placeholder, .addproductcont label textarea::placeholder {
  opacity: 0.3;
}
.addproductcont label select {
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid #e1e1e1;
  width: 350px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
  background: linear-gradient(180deg, rgba(252,253,255,1) 0%, rgba(246,247,251,1) 100%);
}
.addproductcont .priceinp {
  width: 100px;
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.addproductcont .currencydiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 41px;
  background: #fafafa;
  border: 1.5px solid #e1e1e1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 0;
  float: left;
  color: #555;
}
.addproductcont .uploadpic {
  display: none;
}
.addproductcont .uploadercont {
  width: 350px;
  height: 400px;
  border: 1.5px dashed #e1e1e1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s;
  background-position: center;
  background-size: cover;
}  
.addproductcont .imguploadlabel {
  position: relative;
  width: 350px;
}
.addproductcont .uploadercont:hover {
  opacity: 0.8;
}
.addproductcont .uploadercont i {
  font-size: 35px;
  opacity: 0.4;
}
.addproductcont .uploadercont h5 {
  color: #aaa;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.addproductcont .addform button {
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 15px;
  background: #f1f1f1;
  color: #555;
}
.addproductcont .addform button:hover {
  background: #e1e1e1;
}
.addproductcont .addform button.stockopt {
  background: var(--light);
  color: var(--color);
}
.addproductcont .sizesbox, .addproductcont .colorbox {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; 
  color: #333;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none; 
}
.addproductcont .colorbox:hover { 
  filter: brightness(80%)
}
.addproductcont .newcolorinp {
  display: inline-block;
  width: 60px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.addproductcont .newcolorinp:hover {
  background: #eee;
} 
.addcustomcolorbtn {
  display: inline;
  top: 2px;
  margin-left: 20px;
}
small.customcolor {
  display: block;
  margin-bottom: 10px;
}
.addproductcont .sizesbox {
  background: #fafafa;
}
.addproductcont .sizesbox:hover {
  background: #eee;
}
.addproductcont .addform .confirmaddprod {
  position: absolute;
  bottom: 100px;
}
.addproductcont .addform .confirmaddprod button {
  background: var(--color);
  color: #fff;
}
.addproductcont .addform .confirmaddprod button:hover {
  filter: brightness(110%);
  background: var(--color)
}
.notifcont {
  position: fixed;
  bottom: 40px;
  left: 50px;
  z-index: 999;
}
.notifcont > div {
  position: relative;
  left: -40px;
  min-width: 300px;
  padding: 25px;
  font-size: 14px;
  color: #fff;
  background: rgba(10, 157, 255,0.85);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.notifcont > div p {
  display: inline;
  margin-right: 15px;
}
.notifcont > div i {
  margin-right: 15px;
  font-size: 18px;
}
.notifcont > div button {
  padding: 5px 15px;
  border-radius: 6px;
  background: #eee;
  color: var(--color) 
} 
.notifcont > div button:hover {
  background: #fff;
}
.regrid {
  float: left;
  color: #aaa;
  padding: 5px;
  top: 16px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.regrid:hover {
  color: var(--color)
}
.profilecont {
  position: relative;
  top: 5px;
  float: right;
  margin-left: 40px;
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid #eee;
  color: #777;
  cursor: pointer;
  transition: all 0.2s;
} 
.profilecont:hover {
  background: var(--light)
} 
.profilecont img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  top: 0px;
  float: left;
}
.profilecont small {
  float: left;
  top: 6px;
  margin-right: 5px;
}
.profilecont i {
  float: left;
  top: 8px;
}
.quickactions {
  position: relative;
  float: right;
  padding: 5px;
  top: 8px;
  font-size: 19px;
  color: #777;
}
.quickactions i {
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 20px;
}
.quickactions i:hover {
  color: var(--color)
}
 
.myproductsgrid {
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 20px;
  width: 100%;
} 
.myproductsgrid table th h6 {
  display: inline-block;
}
.myproductsgrid table tr:hover {
  background: rgba(10, 157, 255,0.03);
}
.myproductsgrid table thead tr:hover {
  background: #fff;
}
.myproductsgrid table tbody tr {
  cursor: pointer;
}
.headeropts h5 {
  float: left;
  margin-right: 30px;
  color: #333;
}
.headeropts label {
  position: relative;
  float: left;
  top: -5px;
}
.headeropts input {
  padding: 10px;
  border-radius: 20px;
  color: #aaa;
  padding-left: 40px;
}
.headeropts input::placeholder {
  color: #aaa;
}
.headeropts label i {
  left: 30px;
  z-index: 10;
  color: #ccc;
  top: 1px;
  font-size: 14px
}
.myproductsoptions {
  position: fixed;
  top: 90px;
  background: #fff;
  height:89%;
  width: 300px;
  right: 30px;
}
h4.rightbartitle {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #333;
}
.innerprodopts {
  position: relative;
  height: 75vh;
  margin-top: 20px;
  overflow-y: scroll;
}
.innerprodopts:hover::-webkit-scrollbar {
  display: block;
}
.innerprodopts::-webkit-scrollbar {
  width: 5px;
  display: none;
} 
.innerprodopts label, .innerprodopts .label {
  position: relative;
  display: block;
  display: block;
  margin: 20px auto; 
}
.innerprodopts label h6, .innerprodopts .label h6 {
  font-size: 15px;
  color: #777;
  margin-bottom: 20px;
} 
.innerprodopts label input {
  color: #555;
  width: 90%;
}
.innerprodopts label input::placeholder {
  color: #bbb;
} 
.innerprodopts .prodnameinp, .innerprodopts .priceinp {
  padding: 15px;
  font-size: 16px;
} 
.innerprodopts .currencydiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 41px;
  background: #fafafa;
  border: 1.5px solid #e1e1e1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 0;
  float: left;
  color: #555;
}
.innerprodopts .priceinp {
  width: 100px;
  padding: 10px;
  margin-left: 0px;
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1.5px solid #e1e1e1;
  font-weight: 600;
  color: #555;
}
.innerprodopts .saveproduct {
  padding: 15px 30px;
  border-radius: 20px;
  background: var(--color);
  color: #fff;
  margin-top: 40px;
}
.innerprodopts .removeproduct {
  padding: 15px 30px;
  border-radius: 20px;
  background: #FF3737;
  color: #fff;
  margin-top: 20px;
} 
.innerprodopts .saveproduct:hover {
  filter: brightness(110%)
}
.innerprodopts .imguploadlabel input {
  display: none;
}
.innerprodopts .imguploadlabel i {
  font-size: 24px;
  opacity: 0.4;
}
.innerprodopts .imguploadlabel h5 {
  color: #aaa;
}
.innerprodopts .uploadercont {
  width: 90%;
  height: 300px;
  border: 1.5px dashed #e1e1e1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s;
  background-position: center;
  background-size: cover;
}
.innerprodopts .uploadercont:hover {
  opacity: 0.7;
}
.innerprodopts .label button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}
.innerprodopts .label button:hover {
  background: var(--light);
  color: var(--color)
}
.innerprodopts .label button.stock, .innerprodopts .label button.sale{
  background: var(--light);
  color: var(--color); 
}
.innerprodopts .prodqtyinp {
  width: 70px;
  font-weight: 600;
  font-size: 15px;
  padding-left: 15px;
}
.innerprodopts label .colorbox, .innerprodopts label .sizebox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s;
}  
.innerprodopts label .sizebox {
  background: #f1f1f1;
  font-weight: 600;
  color: #555;
}
.innerprodopts label .colorbox:hover, .innerprodopts label .sizebox:hover {
  filter: brightness(90%)
}
.innerprodopts .coloradded {
  border: 2px solid var(--color);
}
.innerprodopts label .sizeadded {
  background:#111; 
  color:#fff;
  font-weight: 500;
}
.innerprodopts .colorcircle {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 10px;
  display: inline-block;
}
.innerprodopts .smallsizes {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  font-weight: 500;
  border: 1px solid #eee;
  padding: 2px 5px; 
}
.defaultinnerprod {
  position: relative;
  text-align: center;
}
.defaultinnerprod h6 {
  margin-top: 100px;
  font-size: 17px;
  font-weight: 600;
  color: #ccc;
}
.defaultinnerprod i {
  display: block;
  margin-top: 20px;
  font-size: 30px;
}
.innerprodopts label textarea {
  min-width: 95%;
  max-width: 95%;
  min-height: 220px;
  resize: vertical;
  font-family: inherit;
  padding: 10px;
  color: #777;
}
.dashtable {
  position: relative;
  overflow-x: scroll;
}
.dashtable::-webkit-scrollbar {
  display: none;
}
.dasharrow {
  display: none;
}
.couponspage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
} 
.nocouponsdiv {
  text-align: center;
}
.nocouponsdiv h5 {
  color: #999;
  margin-bottom:10px;
}
.nocouponsdiv h2 {
  margin-bottom: 40px;
}
.nocouponsdiv button {
  padding: 20px 40px;
  background: var(--color);
  color: #fff;
  border-radius: 30px;
}
.nocouponsdiv button:hover {
  filter: brightness(110%)
}
.createcouponcont {
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 30px;
  width: 100%;
}  
.createcouponcont .mycouponsbox {
  position: fixed;
  top: 90px;
  width: 300px;
  background: #fff;
  height:89%;
  right: 30px;
}
.createcouponcont h5 {
  font-size: 15px;
  color: #777;
  margin-bottom: 20px;
}
.coupondatadiv {
  position: relative;
  width: 600px;
}
.couponcodeinp {
  width: 600px;
  font-size: 23px;
  color: #333;
  text-transform:uppercase;
  display: block;
}
.couponcodeinp::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #aaa;
}
.createcouponcont .generatebtn {
  padding: 10px;
  margin-top:10px;
  background: var(--color);
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}
.createcouponcont .clearcode {
  padding: 10px;
  margin-top:10px;
  background: #f1f1f1;
  color: #111;
  border-radius: 10px;
}
.createcouponcont .generatebtn:hover {
  filter: brightness(110%);
}
.createcouponcont .clearcode:hover {
  background: #e9e9e9;
}
.createcouponcont textarea {
  display: block;
  margin-top: 30px;
  font-family: inherit;
  min-width: 600px;
  border: none;
  background: #f5f5f5;
  border-radius: 10px;
  min-height: 100px;
  resize: vertical;
  padding: 10px;
}
.createcouponcont textarea::placeholder {
  color: #aaa;
}
.createcouponcont label {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.createcouponcont label h6 {
  color: #555;
  font-weight: 500;
  float: left;
  top: 13px;
  font-size: 13px;
}
.createcouponcont label select, .createcouponcont label input {
  padding: 10px;
  border: none;
  background: #f5f5f5;
  border-radius: 5px;
  color: #333;
  min-width: 300px;
  float:right;
}
.createcouponbtn {
  margin-top: 40px;
  padding: 15px 30px;
  color: #fff;
  background: var(--color);
  border-radius: 40px;
}
.createcouponbtn:hover {
  filter: brightness(110%);
}
.couponbox {
  position: relative;
  margin-top: 10px;
  width: 100%;
  padding: 15px 10px;
  background: #fafafa;
  border-radius: 10px;
}
.couponbox p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.couponbox p span {
  margin-left: 10px;
  color: var(--color);
  text-transform: uppercase;
}
.couponbox small {
  display: block;
  color: #555;
}
















@media (max-width: 1500px) {
  .dashmed {
    grid-column: span 10;
  }
}









