html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Varela', sans-serif;
}   
:root {
  --color: #0a9dff;   
}   
    
.grid {
  position: relative;
  margin: auto;
  width: 1600px;
}
.xgrid {
  padding: 100px 0;
}
.pgrid {
  width: 1200px;
}
.fgrid {
  padding: 50px 0 30px 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
* {
  letter-spacing: 0.3px;
}
h1,h2,h3,h4,h5,h6,i,p,li,button,a,span,small,img,section,input, label {
  position: relative;
  margin: 0;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}
button i {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
input, textarea, select {
  outline: none;
}
hr {
  border: none;
}
* {
  box-sizing: border-box;
}
::selection {
  background: #111;
  color: white;
}
::-webkit-scrollbar {
  display:block;
  width:11px;
  border-radius: 40px;
} 
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #111;
} 
.close {
  position: absolute;
  padding: 5px;
  font-style: normal;
  font-weight: 200;
  transform: scale(1,1);
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #333;
  font-size: 35px;
  transition: all 0.3s;
}
.close::before {
  position: absolute;
  top: 0px;
  left: 9px;
  transform: rotate(-42deg);
  content: '|';
}
.close::after {
  position: absolute;
  top: 0px;
  left: 12px;
  content: '|';
  transform: rotate(42deg);
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
}  
[re-tab] {
  display: none;
}
[re-tab="reviews"] {
  display: block;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height:130px;
  z-index: 900;
  padding: 20px 0;
  transition: all 0.4s; 
}
.logo{
  font-size: 40px;
  letter-spacing: 5px;
  color: #555;
  float: left;
}
nav h1 span {
  color: var(--color);
  font-size: 50px;
}
.menu  {
  position: relative;
  float: left;
  font-size: 15px;
  margin-left: 50px;
  list-style-type: none;
  padding: 0;
} 
.menu > li {
  padding: 0;
  display: inline-block;
} 
.menu > li > a { 
  color: #666;
  font-weight: 700;
  padding: 10px 5px;
  padding-bottom: 13px;
  margin: auto 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
} 
.menu > li > a i {
  top: 0px;
  margin-left: 5px;
}
.menu > li > a:hover {
  color: #000;
  padding-bottom: 33px;
}
.menu > li > a hr {
  position: absolute;
  width: 0;
  height: 2px;
  background: #333;
  margin: auto;
  margin-top: 4px;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
.menu > li > a:hover hr {
  width: 100%;
}
.menu .activelink hr {
  width: 100%;
}
.menu .tab {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 50px;
  min-width: 600px;
  min-height: 300px;
  padding: 30px 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  background-position: center;
  background-size: cover; 
  transition: top 0.7s, opacity 0.2s, visibility 0.2s;
}
.menu .shop-tab {
  background-image: url('https://i.imgur.com/2uWnG1P.jpg');
} 
.menu .about-tab {
  background-image: url('https://i.imgur.com/29mlO62.jpg?');
}
.menu .gal-tab {
  background: #fafafa;
} 
.menu .tab h4 {
  color: #777;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.menu .tab ul {
  min-width: 140px;
}
.menu .tab ul li {
  margin: 22px 0;
  list-style-type: none;
}
.menu .tab ul li a {
  transition: all 0.2s;
  color: #aaa;
}
.menu .tab ul li:hover a {
  text-decoration: underline;
  color: #000;
}
.menu > li:hover .tab {
  visibility: visible;
  opacity: 1;
  top: 60px;
  transition: top 0.7s, opacity 0.4s, visibility 0.4s;
}
.mobbtn, .mobmenu {
  display: none;
} 
nav .left, nav .right {
  position: relative;
  transition: all 0.4s;
  top: 0;
}
nav .right > div {
  float: left;
  position: relative;
  top: 12px;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #555;
} 
.quicksubtotal {
  margin-right: 5px;
  color: #777;
}
.wishicondiv small {
  position: absolute;
  padding: 5px;
  top: -10px;
  right: -19px;
  background: #555;
  border-radius: 100%;
  width:20px;
  height: 20px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
} 
.wishicondiv a {
  display: inline;
  color: #555;
}
.cartdiv .cartitemsnum {
  position: absolute;
  padding: 5px;
  top: 0px;
  right: -9px;
  background: #555;
  border-radius: 100%;
  width:20px;
  height: 20px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
.cartcont {
  position: absolute;
  top: 95px;
  right: 0;
  min-width: 320px;
  padding: 20px;
  background:#fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: top 0.7s, opacity 0.4s, visibility 0.4s;
  visibility: hidden;
  opacity: 0;
  cursor: auto;
} 
.cartcont .emptycart p {
  font-size: 16px;
  margin-bottom: 20px;
}
.cartcont .emptycart small {
  font-size: 13px;
}
.cartcont .emptycart a:hover {
  text-decoration: underline;
}
.cartcont .innercart {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
}
.innercart::-webkit-scrollbar {
  display:none;
  width: 5px;
} 
.innercart:hover::-webkit-scrollbar {
  display: block;
}
.cartdiv:hover .cartcont {
  visibility: visible;
  opacity: 1;
  top: 45px;
}
.cartcont p {
  font-size: 13px;
}
.cartcont small {
  font-size: 12px;
  display: block;
  margin-top:10px;
  font-weight: 500;
  color: #aaa;
}
.cartitem .fa-times {
  position: absolute;
  font-size: 18px;
  color: #777;
  padding: 2px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}
.cartitem img {
  float: left;
  width: 65px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.cartitem h5 {
  font-size: 15px;
  font-weight: 500;
}
.cartitem h5 a {
  transition: all 0.2s;
}
.cartitem h5 a:hover {
  text-decoration: underline;
  color: var(--color);
}
.cartitem h5 span {
  color: #aaa;
}
.cartitem h5 span small {
  font-size: 11px;
  display: inline;
  top: -3px;
  text-decoration: none;
  margin: auto 5px;
}
.cartitem h6 {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
}
.cartcont hr {
  height: 1px;
  width: 100%;
  background:#eee;
  display: block;
}
.cartcont h4 {
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  margin-top: 10px;
}
.cartcont h3 {
  font-size: 18px;
  float: right;
  color:#000;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 20px;
}
.cartcont button {
  display: inline-block;
  padding: 12px 20px; 
  font-size: 12px;
  transition: all 0.3s;
  text-transform: uppercase;
  margin: auto 10px;
}
.cartcont .viewcartbtn {
  background: none;
  border: 1px solid #111;
  color: #111;
}
.cartcont .checkoutbtn {
  background: #111;
  border: 1px solid #111;
  color: #fff;
}
.cartcont .viewcartbtn:hover {
  background: #111;
  color: #fff;
}
.cartcont .checkoutbtn:hover {
  background: #333;
}
.logindiv i {
  transition: all 0.2s;
  color: #555;
}
.logindiv:hover i {
  color: var(--color)
}
.bgcont {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bgcont .slide {
  position: absolute; 
  display: none;
  width: 100%;
  height: 100vh;
  transition: all 1s;
  opacity: 0;
}
.bgcont .slide1 {
  display: block;
  opacity: 0;
} 
.bgcont .grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s;
}
.bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.slide1 .bgimg {
  background-image: url('https://i.imgur.com/pQMkqZc.png')
}
.slide2 .bgimg {
  background-image: url('https://i.imgur.com/4WAJOxr.jpg')
}
.slide3 .bgimg {
  background-image: url('https://i.imgur.com/w58aREK.jpg')
}
.bgcont h1 {
  font-size: 80px;
  font-weight: 700;
  color: #333;
  opacity: 0;
  top: 50px;
  transition: all 0.7s;
}
.bgcont h6 {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0;
  left: -50px;
  transition: all 0.7s;
}
.bgcont button {
  margin-top:50px;
  background: #333;
  color: #fff;
  font-size: 15px;
  padding: 20px 40px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.25);
  top: 0;
  opacity: 0; 
  left: -50px;
  transition: background 0.3s, top 0.3s, left 0.7s, opacity 0.5s;
}
.bgcont button:hover {
  background: var(--color);
  top: -10px;
} 
.bgnav {
  position: absolute;
  left: 145px;
  bottom: 80px;
  z-index: 10;
} 
.bgnav > div {
  margin: auto 10px;
  display: inline-block;
  width: 100px;
  background: #222;
  height: 3px;
  opacity: 0.2;
  cursor: pointer; 
  transition: all 0.5s;
  transition-delay: 1s;
}
.bgnav > div:hover {
  opacity: 1;
}


section {
  width: 100%;
}
section .sectitle {
  font-size:27px;
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}
section .secsubtitle {
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  color: #aaa;
}
.sectionnav {
  position: relative;
  text-align: center;
}
.sectionnav h6 {
  display: inline-block;
  margin: auto 20px;
  font-size: 13px;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s;
}
.sectionnav h6:hover {
  color: #000;
}
.sectionnav .activesecnav {
  color: #000;
}
.sectiongrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 70px 50px;
  margin-top: 60px;
  justify-content: center;
  align-content: center;
}  
.sectiongrid h2 {
  font-size: 45px;
  font-weight:700;
  margin-bottom: 30px;
  border-bottom: 4px solid #333;
  padding-bottom: 5px;
  color:#333;
  display:inline-block;
} 
.itemcont {
  position: relative;
  text-align: center;
}
.itemcont .imgcont {
  height: 420px;
  width: 100%;
  overflow: hidden;
}
.itemcont img {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.itemcont .imgcont:hover img {
  transform: scale(1.2);
}
.itemcont .labelcont {
  position: absolute; 
  top: 20px;
  left: 0;
  z-index: 100;
  text-transform: uppercase;
}
.itemcont .labelcont small {
  padding: 3px 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: none;
}
.itemcont .labelcont .sale {
  background: var(--color);
} 
.itemcont .labelcont .hot {
  background: #fc0303;
}  
.itemcont h5 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
} 
.itemcont h5 a {
  color: #777;
  transition: all 0.2s;
}
.itemcont h5 a:hover {
  color: var(--color);
} 
.itemcont small {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
.itemcont .heartlink {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
  font-size:21px;
}
.itemcont .fa-heart {
  transition: all 0.2s;
} 
.itemcont .fa-heart:hover {
  color: var(--color)
} 
.itemactions {
  position: absolute;
  bottom: 80px;
  height: 60px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s;
  overflow: hidden;
}  
.itemactions i {
  font-size: 16px;
  padding: 10px;
  border-radius: 100%;
  line-height: 1.1;
  background:#fff;
  color: #444;
  display: inline-block;
  margin: auto 10px;
  transition: top 0.4s, opacity 0.4s, visibility 0.4s;
  opacity: 0; 
  visibility: hidden;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}
.itemactions i:nth-child(1) {
  top: 30px;
  transition-delay: 0.1s;
}
.itemactions i:nth-child(2) {
  top: 40px;
  transition-delay: 0.2s;
}
.itemactions i:nth-child(3) {
  top: 50px;
  transition-delay: 0.3s;
}
.itemactions i:hover {
  background: #f1f1f1;
  color: #333;
}
.itemactions i:active {
  background: #333;
  color: #eee;
}
.itemcont:hover .itemactions i {
  top: 0;
  opacity: 1;
  visibility: visible;
}    
.section2 .banner {
  position: relative;
  background-image: url('https://i.imgur.com/qy9wB4B.jpg');
  background-size:cover;
  background-position: center;
  width: 100%;
  padding: 100px 60px;
}
.section2 .banner big {
  font-size: 140px;
  position: relative;
  text-transform: uppercase;
  color: #aaa;
  opacity: 0.2;
  font-weight: 700;
  display: block;
}
.innerbanner {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}
.innerbanner h4 {
  top: -100px;
  margin: auto;
  font-size: 34px;
  display: inline;
  padding: 10px 30px;
  background: rgba(0,0,0,0.9);
  color: #eee;
  font-weight: 700;
  text-transform: lowercase;
}
.innerbanner p {
  top: -50px;
  color: #777;
  font-weight: 500;
  text-transform: uppercase;
}
.innerbanner a {
  font-weight: 700;
  padding-bottom: 5px;
  transition: all 0.2s;
  color: #555;
}
.innerbanner a hr {
  height: 2px;
  background: #333;
  position: absolute;
  margin: 5px auto;
  width: 0;
  left: 0;
  right: 0;
  transition: all 0.4s;
}
.innerbanner a:hover hr {
  width: 100%;
}
.innerbanner a:hover {
  color: #000;
}
.section3 {
  text-align: center;
  background: #fafafa;
}
.section3 .grid > div {
  position: relative;
} 
.section3inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section3 img {
  width: 100px;
  opacity: 0.9;
}
.section3 p {
  font-size: 14px;
  color: #555;
  top: 10px;
  opacity: 0;
  transition: all 0.3s;
}
.section3 h5 {
  font-size: 15px;
  transition: all 0.3s;
  top: 0px;
  color: #aaa;
  text-transform: uppercase;
}
.section3inner div:hover p {
  opacity: 1;
  top: 20px;
}
.section3inner div:hover h5 {
  top: 30px;
  opacity: 0.2;
}
.section4 .banner {
  position: relative;
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.section4 .banner:hover img {
  transform: scale(1.1);
}
.section4 .banner > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section4 .banner img {
  width: 100%;
  height: 450px;
  transition: all 0.4s;
}
.section4 .salediv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 30px;
  width: 400px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s;
}
.section4 .salediv:hover {
  background: #f1f1f1;
}
.section4 .salediv h4 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 25px;
}
.section4 .salediv h4::first-letter {
  margin-left: 25px;
}
.section4 .salediv small {
  font-weight: 700;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 12px;
}
.section4 .salediv small::first-letter {
  margin-left: 12px;
}
footer {
  background: #171717; 
}
footer .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 25px;
}
footer h2 {
  font-size: 60px;
  margin-bottom:20px;
  color: #eee;
}
footer h2 span {
  color: #777;
}
footer p {
  color: #aaa;
  font-size: 17px;
}
footer h4 {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 20px;
  color: #eee;
}
footer ul {
  list-style-type: none;
  padding: 0;
} 
footer ul li {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 500;
}
footer ul li a {
  color: #999;
  transition: all 0.3s;
  padding-bottom: 2px;
  padding-right: 5px;
}
footer ul a:hover {
  color: #eee;
  border-bottom: 1px solid #eee;
}
footer h6 {
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
}
footer label {
  position: relative;
  width:100%;
  margin-top: 20px;
  display: block;
}
footer label i {
  left: -30px;
  color: #aaa;
}
footer input {
  width: 90%;
  border: none;
  background: #eee;
  padding: 20px 40px 20px 20px;
  transition: all 0.3s;
  font-size: 16px;
}
footer input:focus {
  box-shadow: 0 1px 10px rgba(0,0,0,0.1)
}
footer input::placeholder {
  color: #aaa;
}
footer .socials {
  position: relative;
  margin-top: 40px;
} 
footer .socials > div {
  position: relative;
  margin: auto 10px;
  float: left;
  border-radius: 100%;
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border: 1px solid #eee;
  transition: all 0.3s;
  cursor: pointer;
}
footer .socials > div:hover {
  background: #333;
}
footer .socials > div:hover i {
  color: #fff;
}
footer .socials > div i {
  color: #eee;
}

.quickviewcont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s;
} 
.quickviewcont .close {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 20;
}
.quickview {
  position: relative;
  top: -40px;
  padding: 30px;
  width: 900px;
  min-height: 80vh;
  background: #fff;
  box-shadow: 0 1px 30px rgba(0,0,0,0.8);
  cursor: auto;
  transition: all 0.5s;
  z-index: 900;
}    
.quickclose {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  cursor: url('https://i.imgur.com/GSfMhIM.png'), auto;
}
.productpage .product {
  width: 90%;
  grid-gap: 50px;
}
.product {
  position: relative;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.product > div {
  width: 100%;
}
.productpage .productimg {
  position: relative;
  height: 600px;
  cursor: url('https://i.imgur.com/q0ZCkCH.png'), auto;
}
.productimg {
  height: 500px;
  width: 100%;
  transition: all 0.3s;
}
.productimg:hover {
  filter: brightness(70%);
}
.product .otherimg {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  background: #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.product .otherimg:hover {
  background: #eee;
}
.product .otherimg img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.product .otherimg img:hover {
  opacity: 0.75;
}
#zoomresult {
  position: absolute;
  left: 540px;
  width: 70%;
  height: 90%;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  z-index: 800;
  display: none;
}  
.img-zoom-lens {
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
}
.quickviewcont #zoomresult {
  display: none;
  visibility: hidden;
}
.product h2 {
  font-size: 35px;
  font-weight: 500;
  color: #666;
} 
.product h5 {
  font-size: 18px;
  margin-top: 10px;
}
.product p {
  line-height: 1.7;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #555;
}
.product hr {
  height: 1px;
  background: #eee;
  width: 100%;
}
.productpage hr {
  height: 1px;
  background: #eee;
  width: 100%;
}
.product label {
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}
.product label small {
  float: left;
  font-size: 16px;
  top: 8px;
}
.product label .sizesboxdiv, .product label .colorboxcont {
  float: right;
  margin-bottom: 5px;
} 
.colorboxcont .colorbox {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-flex;
  margin: auto 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid transparent;
}  
.product .colorboxcont .colorbox:hover {
  border: 2px solid var(--color);
}
.sizesboxdiv .sizebox {
  position: relative;
  color: #333;
  width: 40px;
  height: 40px;
  background: #fafafa;
  border: 1px solid #f5f5f5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}
.sizesboxdiv .sizebox:hover, .sizesboxdiv .activesizebox {
  background: #333;
  color: #fff;
}
.product .colorboxcont .activecolorbox {
  border: 2px solid var(--color);
} 
.product .itemnum, .carttable .itemnum {
  float: left;
  user-select: none;
  -webkit-user-select: none;
}
.product .itemnum > div, .carttable .itemnum > div {
  float: left;
  width: 50px;
  height: 45px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #777;
  transition: all 0.3s;
  cursor: pointer;
}
.product .itemnum .num, .carttable .itemnum .num {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  cursor: auto;
}
.product .subnum:hover, .product .addnum:hover, .carttable .subnum:hover, .carttable .addnum:hover {
  background: #333;
  color: #fff;
}   
.product .addtocart, .product .viewcart {
  float: left;
  margin-left: 40px;
  padding: 15px 25px;
  background: #111;
  color: #fff;
  margin-bottom: 30px;
}
.product .addtocart:hover, .product .viewcart:hover {
  background: #444;
}
.cartdisabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.product .metaitem {
  position: relative;
  margin-top: 30px;
  clear: both;
}
.product .metaitem h6 {
  text-transform: uppercase;
  color: #555;
  font-size: 13px;
  font-weight: 700;
  margin: 15px 0;
}
.product .metaitem h6 span {
  font-weight: 400;
  color: #aaa;
  text-transform: lowercase;
  margin-left: 20px;
}
.product .metaitem .socialsgroup i {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  font-size: 17px;
  color: #aaa;
}
.product .metaitem .socialsgroup i:hover {
  color: #333;
}
.product .addtowish {
  display: block;
  margin-top: 20px;
  padding: 20px 30px;
  background: #111;
  color: #fff;
  text-transform: uppercase;
}
.product .addtowish:hover {
  background: #444;
}

.productpage .prodaccordion {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}
.productpage .prodaccordion p {
  line-height: 1.8;
  color: #777;
}
.productpage .prodaccordion h2 {
  text-align: center;
  display: inline-block;
  margin: 20px;
  color: #aaa;
  font-size: 30px;
  cursor: pointer; 
}
.productpage .prodaccordion table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}
.productpage .prodaccordion table tr {
  border-top: 1px solid #eee;
}
.productpage .prodaccordion table tr:nth-child(even) {
  background: #f5f5f5;
}
.productpage .prodaccordion table th {
  color:#777;
  padding-left: 10px;
  font-size: 15px;
  width: 200px;
}
.productpage .prodaccordion table td {
  padding: 15px 10px;
  color: #aaa;
  font-size: 14px;
}
.productpage .prodaccordion .activetab {
  color: #333;
}
.productpage .accordion {
  margin-top: 30px;
  text-align: left;
}
.similarprods h2 {
  font-size: 35px;
  color:#333;
  text-align: center;
  margin-bottom: 50px;
}
.similarprodgrid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 30px;
}
.similarprodgrid .itemcont .imgcont {
  height: 400px;
}
.pagebanner {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pagebanner .bannerbg {
  position: absolute;
  top:0;
  width: 100%;
  height: 60vh;
  background-position:center;
  background-size: cover;
}
.pagebanner h1 {
  font-size: 75px;
  font-weight:700;
  color: #444;
  margin-bottom: 10px;
}
.pagebanner h5 {
  color:#aaa;
  font-size: 13px;
  text-transform: uppercase;
}
 
.carttable {
  position: relative;
  margin: 20px auto;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.carttable tr {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.carttable thead th {
  padding-bottom: 15px;
}
.carttable thead th {
  text-transform: uppercase;
  color: #777;
}
.carttable tbody td {
  padding: 20px 5px;
} 
.carttable tfoot td {
  padding: 40px 0px;
} 
.carttable img {
  height: 130px;
  width: 100px;
} 
.carttable tbody td img {
  margin-right: 30px;
  float: left;
}
.carttable tbody td h6 {
  font-size: 16px;
  color: #555;
  font-weight:500;
  margin-top: 55px;
  transition: all 0.2s;
}
.carttable tbody td h6:hover {
  color: var(--color)
}
.carttable tbody td a:hover {
  text-decoration: underline;
  color: var(--color);
}
.carttable .pricetd {
  font-weight:500;
  color: #555;
}
.carttable .itemtotaltd {
  font-weight:700;
  color: #333;
}
.carttable .fa-window-close, .wishtable .fa-window-close.far {
  font-size: 35px;
  color: #ddd;
  transition: all 0.2s;
  cursor: pointer; 
}
.carttable .fa-window-close:hover, .wishtable .fa-window-close.far:hover {
  color: var(--color);
}
.carttable button {
  margin: auto 20px;
  padding: 17px 20px;
  font-size: 15px;
  border: 1px solid #111;
}
.carttable button.b1 {
  background: #111;
  color: #fff;
}
.carttable button.b1:hover {
  background: #333;
  border: 1px solid #333;
}
.carttable button.b2 {
  background: none;
  color: #333;
}
.carttable button.b2:hover {
  background: #111;
  color: #fff;
}
.viewcoupons {
  position: absolute;
  transform: translateY(70px);
  left: 0;
  color: #aaa;
  cursor: pointer;
}
.viewcoupons:hover {
  text-decoration: underline;
}
.availcouponsdiv {
  position: relative;
  margin-top: 30px;
  width: 100%;
  background:#f5f5f5;
  padding: 15px;
  border: 2px solid #eee;
  margin-bottom: 20px;
  color: #555;
  transition: all 0.3s;
  display: none;
  opacity: 0;
}
.availcouponsdiv small {
  padding: 4px 8px;
  background: #111;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
} 
.availcouponsdiv small:hover {
  background: #555;
}
.carttable button.goodcoupon {
  background: var(--color);
  border: 1px solid var(--color);
}
.carttable button.goodcoupon i {
  margin-left: 10px;
}
.couponinp {
  text-transform: uppercase;
  width: 200px;
}
.couponname {
  color: var(--color);
}
.subtotaltd h4 {
  text-align: right;
  font-size: 16px;
  color: #777;
  font-weight: 500;
}
.subtotaltd h4 span {
  font-size: 24px;
  margin-left: 20px; 
  color: #111;
  font-weight: 700;
}
.carttable tfoot button {
  margin-left: 0;
  margin-right: 30px;
}
.carttable input {
  padding: 18px 10px;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
}
.carttable input::placeholder {
  color: #aaa;
}
.carttable .proceeddiv {
  text-align: right;
}
.carttable .proceeddiv button {
  margin-right:0;
} 
.totalsgrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 40px;
}
.totalsgrid h2 {
  font-size: 34px;
  color:#333;
  margin-bottom: 40px;
}
.totalsgrid select, .totalsgrid input {
  border: none;
  background: #f5f5f5;
  padding: 17px 10px;
  width: 100%;
  margin: 10px auto;
  font-size: 15px;
} 
.carttotals > div {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  color: #777;
}
.carttotals > div h6 {
  font-size: 16px;
}
.carttotals > div h6:nth-of-type(1) {
  float: left;
}
.carttotals > div h6:nth-last-of-type(1) {
  float: right;
} 
.carttotals .ordertotal {
  font-size: 30px;
  font-weight: 600;
  color: #111;
}
.carttotals > div:last-child {
  border: none;
  text-align: right;
}
.carttotals button {
  margin: auto;
  padding: 17px 30px;
  background: #111;
  color: #fff;
  font-size: 16px;
  border: 1px solid #111;
}
.carttotals button:hover {
  background: none;
  border: 1px solid #111;
  color: #111;
}
.msgnotif {
  display: none;
  opacity: 0;
  transition: all 0.3s;
}
.msgnotif h2 {
  margin-bottom: 40px;
}
.msgcont .msgbox {
  width: 100%;
  background: rgba(132, 216, 227,0.4);
  padding: 20px 15px;
  border: 2px solid var(--color);
  margin-bottom: 20px;
  color: #555;
  transition: all 0.3s;
}
.msgcont .msgbox  i {
  margin-right: 20px;
}
.msgcont .msgbox small {
  color: #777;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.1s;
}
.msgcont .msgbox small:hover {
  color: #111;
}
.msgcont .msgbox2 {
  opacity: 0;
}
.msgcont button {
  padding: 20px 30px;
  font-size: 15px;
  background: #111;
  color: #fff;
}
.msgcont button:hover {
  background: #333;
}
.msgcont h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 30px;
}
.logreg {
  position: relative;
}
.logreg p {
  margin-bottom: 10px;
}
.logreg p a {
  font-weight: 600;
  color: #333;
}
.logreg p a:hover {
  text-decoration: underline;
}
.checkoutgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}
.checkoutgrid h2 {
  font-size: 34px;
  margin-bottom: 40px;
}
.billinggrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 40px;
}
.billinggrid h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #bbb;
  margin-bottom: 10px;
}
.billinggrid label {
  grid-column: span 2;
}
.billinggrid label.span1 {
  grid-column: span 1;
}
.billinggrid label input {
  margin-bottom: 10px;
}
.billinggrid input, .billinggrid label textarea {
  padding: 12px 10px;
  width: 100%;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  resize: vertical;
  font-family: inherit
}
.billinggrid * {
  letter-spacing: 1.3px;
}
.ordertotaldiv {
  padding: 50px 30px;
  background: #f5f5f5;
}
.ordertotaldiv h2 {
  text-align: center;
}
.ordertotaldiv .carttotals > div {
  border-color: #e5e5e5;
}
.ordertotaldiv .carttotals h4 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.ordertotaldiv .totalprods h6 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
} 
.ordertotaldiv .totalprods h6 span {
  margin-left: 10px;
  font-weight: 600;
}
.ordertotaldiv .seedetails {
  color: #aaa;
  cursor: pointer;
}
.ordertotaldiv .seedetails:hover {
  text-decoration: underline;
}
.carttotals label {
  position: relative;
  display: block;
  margin: 15px 0;
} 
.carttotals label small {
  margin-left: 20px;
  top: -2px;
}
 
.searchcont {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0,0,0,0.9);
  z-index:950;
  text-align: center;
  transition: all 0.4s;
  display: none;
  opacity: 0;
}
.searchcont .close {
  color: #eee;
  position: absolute;
  right: 40px;
  top: 40px;
}  
.searchbox {
  position: relative;
  margin: auto;
  margin-top: 80px;
  width: 100%;
  transition: all 0.5s;
}
.searchbox input {
  width: 100%;
  padding: 30px 20px;
  background: none;
  border: 2px solid #eee;
  color: #eee;
  font-size: 18px;
}  
.searchbox i {
  position: absolute;
  right: 30px;
  top:30px;
  font-size: 25px;
  color: #eee;
}
.searchresults {
  position: relative;
  margin-top: 5px;
  width: 100%;
}
.searchcont .innersearchresults {
  position: relative;
  height: 400px;
  overflow-y: scroll;
}
.searchcont .innersearchresults::-webkit-scrollbar {
  display: none;
}
.searchcont .resultrow {
  position: relative;
  width: 100%;
  padding: 15px 10px;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition:all 0.2s;
}
.searchcont .resultrow:hover {
  background: #f1f1f1;
}
.searchresults img {
  position: relative;
  float: left;
  width: 55px;
  height: 65px;
  margin-right: 30px; 
}
.searchresults h5 {
  font-size: 16px;
  margin-top: 5px;
  color: #333;
  font-weight: 600;
}
.searchresults small {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
}
 
.productsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 50px 30px;
}
.productslist {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 100px;
}
.productslist .itemactions {
  position: relative;
  transition: all 0.2s;
  left: 300px;
  width: 350px;
} 
.productslist .itemactions i {
  visibility: visible;
  opacity: 1;
  top: 0;
  transition: all 0.2s;
}
.productslist .itemactions i:hover {
  background: #111;
  color: #fff;
}
.productslist .itemcont:hover img {
  transform: scale(1);
}
.productslist .itemactions .addtocart, .productslist .itemactions .removefromcart {
  border-radius: 0;
  padding: 15px 30px;
  background: #333;
  color: #fff;
}
.productslist .itemactions .addtocart::after {
  content: "Add To Cart";
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}
.productslist .itemactions .quickviewbtn {
  border-radius: 0;
  padding: 15px 20px;
  background: #eee;
  color: #333;
}
.productslist .itemactions .fa-random {
  border-radius: 0;
  padding: 15px 20px;
  background: #eee;
  color: #333;
}
.productslist .imgcont .heartlink {
  left: 250px;
  right: auto;
}
.productslist .imgcont {
  float: left;
  margin-right: 30px;
  width: 300px;
  height: 350px;
  overflow: visible;
} 
.productslist .imgcont img {
  position: relative;
}
.itemcont .iteminfodiv > div:nth-of-type(1) {
  float: left;
  margin-top: 15px;
  text-align: left;
}
.itemcont .iteminfodiv > div:nth-of-type(2) {
  float: right;
  margin-top: 17px;
  text-align: right;
} 
.itemcont .iteminfodiv > div:nth-of-type(1) small {
  font-weight: 500;
}
.itemcont .iteminfodiv h5 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
}
.itemcont .iteminfodiv small {
  font-size: 14px;
  display: block;
  margin: 0;
  margin-bottom: 5px;
}
.itemcont .iteminfodiv i {
  color: #ffc505;  
}
.productslist .iteminfodiv {
  float: left;
}
.productslist .iteminfodiv h5 {
  font-size: 25px;
  margin-top: 10px;
}
.productslist .iteminfodiv h5 a {
  color: #333;
}
.productslist .iteminfodiv small {
  text-align: left;
  font-weight: 800;
}

.pagetitle {
  font-size: 30px;
  color: #555;
}
.wishlistcont table {
  position: relative;
  margin-top: 50px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.wishlistcont table th {
  text-transform: uppercase;
  color: #777;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.wishlistcont table td {
  padding: 25px 5px;
  color: #777;
  border-bottom: 1px solid #eee;
}
.wishlistcont table td a:hover {
  text-decoration: underline;
}
.wishlistcont table td.pricetd {
  color: #333;
  font-weight: 600;
}
.wishlistcont table td:first-child {
  width: 220px;
}
.wishlistcont table img {
  width: 100px;
  height: 120px;
} 
.wishtable .fa-window-close.far {
  position: relative;
  margin-right: 20px;
  top: -45px;
}
.wishtable p i {
  margin-right: 10px;
}
.wishtable p {
  font-size: 14px;
} 
.wishtable p .fa-check-circle {
  color: #a5eb23;
}
.wishtable p .fa-window-close {
  color: #f01645;
}

.shoppage .shopoptions {
  position: relative;
  margin:  30px auto 50px auto;
  width: 100%;
}
.shoppage .shopoptions .left h5 {
  font-size: 17px;
  color: #444;
  padding: 12px 0;
}
.shoppage .shopoptions .left h5 span {
  color: #aaa;
}
.shoppage .shopoptions .right > div {
  display: inline-block;
  margin: auto 20px;
}
.shoppage .shopoptions .right h6 {
  font-size: 15px;
  color: #777;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s;
}
.shoppage .shopoptions .right h6:hover {
  color: #000;
}
.shoppage .shopoptions .right h6 i {
  margin-left: 10px;
}
.shoppage .shopoptions .right select {
  padding: 12px 20px;
  border: none;
  background: #f5f5f5;
}
.shoppage .shopoptions .right > div > i {
  color: #999;
  margin: auto 5px;
  padding: 5px; 
  transition: all 0.2s;
  cursor: pointer;
}
.shoppage .shopoptions .right > div > i:hover {
  color: #000;
}
.filterscont {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px 30px;
  transition: all 0.3s;
} 
.filterscont-off {
  height: 0;
  opacity: 0;
}
.filterscont-on {
  height: 440px;
  opacity: 1;
}
.filterscont > div h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}
.filterscont ul {
  list-style-type: none;
  padding: 0;
}
.filterscont ul li {
  margin: 12px 0;
  color: #555;
  font-size: 15px;
  transition: all 0.2s;
  cursor: pointer;
}
.filterscont ul li:hover {
  color: #f54242;
}
.filterscont .activefilter {
  color: #f54242;
}
.appliedfilters {
  grid-column: span 5;
}
.appliedfilters h6 {
  display: inline-block;
  margin: auto 30px;
  margin-left: 0;
  padding: 10px 15px;
  color: #333;
  background: #f1f1f1;
  font-size: 13px;
  font-weight: 500;
  border-radius: 40px;
  transition: all 0.2s;
  cursor: pointer;
}
.appliedfilters h6 i {
  margin-right: 5px;
}
.appliedfilters h6:hover {
  background: #333;
  color: #fff;
}

.detailscont {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999; 
  background: rgba(0,0,0,0.85);
  cursor: url('https://i.imgur.com/GSfMhIM.png'), auto;
  transition: all 0.3s;
  animation: closedet 0.3s linear;
}
.opendetails {
  animation: opendet 0.3s linear;
  display: block;
  opacity: 1;
} 
.closedetails {
  animation: closedet 0.3s linear;
  display: none;
  opacity: 0;
}
@keyframes opendet {
  0% {display: block;opacity: 0;}
  100% {display: block;opacity: 1;}
}
@keyframes closedet {
  0% {display: block;opacity: 0;}
  100% {display: none;opacity: 0;}
}
.detailscont .details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 80vh;
  background: #fff;
  box-shadow: 0 1px 30px rgba(0,0,0,0.8);
  cursor: auto;
  transition: all 0.3s;
  padding: 30px;
}
.detailscont .details h3 {
  text-align: center;
  font-size: 23px;
  margin-block-end: 30px;
}
.detailscont .innerdetails {
  height: 80%;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  padding: 30px 10px;
}
.detailscont .innerdetails::-webkit-scrollbar {
  display: none;
}
.detailscont button {
  padding: 15px 30px;
  background: #111;
  color: #fff;
  margin-right: 20px;
  border: 1px solid #111;
}
.detailscont a button {
  background: none;
  border: 1px solid #111;
  color: #111;
}
.detailscont button:hover {
  background: #333;
  color: #fff;
}
.detailscont .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}
.detailscont .innerdetails h6 {
  font-size: 17px;
  color: #555;
}
.detailscont .innerdetails img {
  width: 60px;
  height: 80px;
  float: left;
  margin-right: 15px;
}
.detailscont .innerdetails .detgrid {
  position: relative;
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.detailscont .innerdetails small {
  display: block;
  color: #999;
}
.detailscont .innerdetails .detailsrow {
  position: relative;
  margin: 20px 0;
}

.wishtable button {
  padding: 15px 30px;
  background: #111;
  color: #fff;
  font-size: 15px;
}
.wishtable button:hover {
  background: #333;
}

.abouts1 img {
  height: 800px;
  position: relative;
  z-index: 100;
  top:-50px;
  left: 100px;
} 
.abouts1 big {
  position: absolute;
  font-size: 1100px;
  top: -200px;
  transform: translateX(-130px);
  opacity: 0.07;
}
.abouts1 .left small {
  position: absolute;
  left: 170px;
  top:250px;
  font-size: 18px;
  letter-spacing: 30px;
  writing-mode: vertical-rl; 
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
}
.abouts1 .left small span {
  color: var(--color);
  letter-spacing: 30px;
}
.abouts1 .right {
  text-align: left;
  width:50%;
}
.abouts1 h3 {
  margin-top: 100px;
  font-size: 45px;
  width:500px;
}
.abouts1 p {
  margin-top: 50px;
  width:500px;
  color: #777;
  line-height: 1.8;
}
.abouts1 h6 {
  display: inline-block;
  margin-top: 50px;
  font-size: 17px;
  transition:all 0.2s;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 2px solid #111;
}
.abouts1 h6:hover a {
  color: var(--color);
  transition:all 0.2s;
}
.abouts1 h6:hover {
  border-color: var(--color)
}
.loginpage, .registerpage {
  position: relative;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  width: 100%;
  transition: all 0.7s;
} 
.registerpage {
  grid-template-columns: 45% 55%;
}
.loginimgcont img {
  height: 100vh;
  width: 100%;
}
.logininfo {
  position: relative;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logininfo h3 {
  font-size: 45px;
  color: #333;
  margin-top: 100px;
}
.logininfo .loginform {
  margin-top: 50px;
  width:100%;
}
.logininfo .loginform input {
  border: none;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 6px;
  width: 320px;
  color: #aaa;
  transition: all 0.2s;
  display: block;
  margin:  40px 0;
}
.logininfo .loginform input:focus::placeholder  {
  border-color: #aaa;
  color: #555;
}
.logininfo .loginform input::placeholder {
  color: #aaa;
} 
.logininfo .loginform label {
  display: inline-block;
  margin-right: 50px;
}
.logininfo .loginform label input {
  display: inline-block;
  width:20px;
  height: 13px;
  margin-right: 5px;
}
.logininfo .loginform label small {
  color: #555;
  top:-1px;
}
.logininfo .loginform button {
  display: block;
  padding: 15px 30px;
  background: #111;
  color: #fff;
  font-size: 16px;
  min-width: 150px;
  margin-top: 20px;
}
.logininfo .loginform button:hover {
  background: #333;
}
.logininfo .loginform h6 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
.logininfo .loginform h6 a {
  font-weight: 600;
}
.logininfo .loginform a:hover {
  text-decoration: underline;
}
.loginpage .loader, .registerpage .loader {
  position: fixed;
  top:0;
  left: 0;
  width:0;
  height: 4px;
  z-index: 999;
  background: #333;
  transition: all 1.2s;
}
.loginmsg {
  position: relative;
  margin-top: 30px;
  padding: 15px;
  font-size: 14px;
  color: #333;
  width: 80%;
  border: 1px solid var(--color);
  background: rgba(132, 216, 227,0.3);
  transition: all 0.3s;
}
.loginmsg i {
  margin-right: 10px;
}
.loginfailed {
  border: 1px solid #ff2e2e;
  background: rgba(255, 46, 46,0.3);
} 
.backtosite {
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
}
.backtosite i {
  margin-left: 8px;
  transition: all 0.4s;
}
.backtosite:hover {
  border-bottom: 1px solid #333;
  color: #333;
}
.backtosite:hover i {
  margin-left: 13px;
}
.registerform {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 30px;
} 
.registerform input {
  padding: 12px;
  border: none;
  background: #f5f5f5;
  border-radius: 6px;
}
.registerform button {
  padding: 15px 30px;
  background: #333;
  color: #fff;
  width: 160px;
}
.registerform button:hover {
  background: #111;
}
.registerform h6 {
  font-size: 13px;
  font-weight: 500;
}
.registerform h6 a {
  font-weight: 600;
}
.registerform h6 a:hover {
  text-decoration: underline;
}

.orderconfirmpage h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
}
.orderconfirmpage h2+h6 {
  font-size: 14px;
  color: #777;
}
.orderconfirmpage table {
  position: relative;
  margin: 50px auto;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.orderconfirmpage table td, .orderconfirmpage table th {
  padding: 10px 5px;
}
.orderconfirmpage table img {
  width: 60px;
  height: 60px;
} 
.orderconfirmpage table tbody tr:nth-child(odd) {
  background: #fafafa;
}
.orderconfirmpage button {
  margin-top: 30px;
  background: var(--color);
  color: #fff;
  padding: 15px 20px;
} 
.orderconfirmpage button:hover {
  filter: brightness(110%);
}
.orderconfirmpage h5 {
  font-size: 18px;
  color: #555;
}
.ordertotalsdiv {
  position: relative;
  width: 400px;
  background: #f1f1f1;
  padding: 15px; 
}
.ordertotalsdiv h6 {
  font-size: 14px;
  color: #777;
  margin: 15px 0;
} 
.ordertotalsdiv h6:last-child {
  font-size: 17px;
  color: #333;
  text-transform: uppercase; 
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.ordertotalsdiv h6:last-child span {
  font-weight: 600;
}
.ordertotalsdiv h6 span {
  font-weight: 500;
  float: right;
}

.comparecont {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  display:none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.comparecont .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}
.compareview {
  position: relative;
  text-align: center;
  width: 90%;
  height: 90%;
  background: #fff;
  box-shadow: 0 1px 30px rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 25px;
} 
.compareview > h2 {
  text-align: center;
  color: #fff;
  border-radius: 6px;
  display:inline-block;
  background: #111;
  margin: auto;
  padding: 5px 20px;
}
.compareinner {
  position: relative;
  margin-top: 20px;
  height: 95%;
  padding-top: 20px;
  overflow-y: scroll;
}
.compareview table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 100%;
  width: 200%;
  text-align: left;
  border-collapse: collapse;
}
.compareinner::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.compareview table .compareheader {
  grid-column: span 1;
}
.compareview table tr { 
  display: block; 
  float: left; 
  text-align: center;
  grid-column: span 2;
}
.compareview table th {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} 
.compareview table td {
  position: relative;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
} 
.compareview table th span {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  left: 10px;
  display: block;
}
.compareview table td:first-child {
  height: 300px;
  border: none;
}
.compareview table th:first-child {
  height: 300px;
}
.compareview table th:last-child {
  border: none;
}
.compareview table td:last-child {
  border: none;
}
.compareview table .stock {
  color: #5ac700;
} 
.compareview table .descript {
  height: 120px;
}
.compareview table td button {
  padding: 10px 20px;
  background: #111;
  color: #fff;
}
.compareview table tr img {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.compareview table tr:nth-child(odd) {
  background: #f7f7f7;
}
.compareview table tr th:first-child {
  height: 300px;
}
.compareview table tr:first-child {
  background: #f1f1f1;
}
.compareview table th, .compareview table th td { 
  display: block; 
}
.compareview table td p {
  font-size: 13px;
  padding: 0 10px;
  color: #777;
}
.compareview table td .colorbox, .compareview table td .sizebox {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
  background: #ddd;
  cursor: auto;
}
.compareview table td .removecompare {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  color: #f01645;
}
.compareview table td .removecompare:hover {
  filter: brightness(120%);
}
 
.gallerygrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5,minmax(100px, 1fr));
  grid-template-rows: repeat(5,minmax(300px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense; 
  margin-top: 50px;
  width: 100%;
}
.gallerygrid img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.gallerygrid img:hover {
  opacity: 0.7;
}
.gallerygrid .horiz {
  grid-column: span 2;
}
.gallerygrid .vert {
  grid-row: span 2;
}
.gallerygrid .big {
  grid-column: span 2;
  grid-row: span 2;
}

.productpage .fa-star {
  color: #ffc505;
}
.ratingscont {
  position: relative;
  padding: 30px 0;
  text-align: center;
}
.ratingscontinner {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.ratingscontinner h5 {
  margin-bottom: 15px;
}
.ratingscontinner h5 i {
  font-size: 20px;
}
.ratingscontinner h5 span {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.ratingscontinner > h6 {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
}
.ratingscont h2 {
  font-size: 30px;
  display: inline-block;
  color: #333;
}
.reviewstab {
  text-align: center;
}
.reviewstab p {
  margin-bottom: 30px;
}
.reviewstab label {
  position: relative;
  width: 500px;
  display: block;
  margin: auto;
}
.reviewstab label h6 {
  font-size: 14px;
  color: #555;
  text-align: left;
  margin-bottom: 10px;
}
.reviewstab label h5 {
  text-align: left;
  font-size: 18px;
}
.starratings {
  position: relative;
  padding: 20px 0;
  text-align: left;
}
.starratings i {
  font-size: 30px;
  cursor: pointer;
}
.reviewstab textarea, .reviewstab input {
  position: relative;
  padding: 15px 10px;
  font-family: inherit;
  width: 100%;
  resize: vertical;
  border: none;
  background: #f5f5f5;
  display: block;
  margin-bottom: 15px;
}
.reviewstab textarea {
  min-height:100px;
}
.reviewstab button {
  padding: 15px 30px;
  background: #111;
  color: #fff;
  margin-bottom: 30px;
}
.reviewstab button:hover {
  background: #333;
}
.reviewscont {
  position: relative;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
}
.reviewscont h5 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.reviewbox {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: auto;
}
.reviewbox .left {
  text-align: left;
}
.reviewbox .left:first-child {
  margin-right:30px;
}
.reviewbox img {
  width: 35px;
  opacity: 0.8;
  float: left;
  margin-right: 15px;
}
.reviewbox h6 {
  font-size: 14px;
  font-weight: 500;
  top: 8px;
} 
.reviewbox span {
  color: #111;
  font-size: 12px;
}
.reviewbox span i {
  font-style: normal;
  color: #999;
}
.reviewbox h4 {
  margin-top: 10px;
  float: left;
} 
.reviewbox .starsrated {
  position: relative;
  float: left;
  margin-right: 15px;
  top: 9px;
  font-size: 17px;
} 
.productpage  .reviewbox p {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #111;
  white-space: pre-wrap;
}
.reviewsactions small {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 11px;
  cursor: pointer;
  color: #111;
  background: #eee;
  padding: 5px 10px;
}
.reviewsactions small:hover {
  background: #e1e1e1;
}
.reviewbox .editreviewtext {
  display: none;
  width: 400px;
  margin-top: 5px;
  white-space: pre-wrap;
}
.reviewsflex {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  width: 100%;
} 
.reviewsinner {
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
  display: grid;
  justify-items: center;
}
.reviewsinner > div {
  display: grid;
  grid-template-columns: 50px 260px 50px;
  grid-gap: 10px 0;
  position: relative;
  margin-bottom: 10px;
}
.reviewsinner > div h6 {
  font-size: 15px;
  font-weight: 500;
}
.reviewsinner > div i {
  margin-left: 5px;
  top: -1px;
}
.reviewsinner > div > div {
  width: 100%;
  margin-left: 10px;
  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
  background: #fafafa;
  border: 1px solid #eee;
  padding: 1px;
}
.reviewsinner span {
  color: #333;
  margin-left: 20px;
  font-size: 15px; 
}
.reviewsinner .meter {
  background: linear-gradient(to bottom,#ffce00,#ffa700);
  width: 0;
  height: 100%;
  transition: all 0.5s;
}
.reviewsinner > div > div {
  width: 100%;
  margin-left: 10px;
  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
  background: #fafafa;
  border: 1px solid #eee;
  padding: 1px;
}
.reviewsinner span {
  color: #333;
  margin-left: 20px;
}

.contactgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}
.contactgrid i {
  font-size: 60px;
  color: #ccc;
} 
.contactgrid hr {
  height: 100px;
  width: 1px;
  background: #eee;
}
.contactgrid > div i {
  margin-top: 20px;
}
.contactgrid > div h4 {
  margin-top: 20px;
  font-size: 19px;
  color: #555;
}

.contactgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}
.contactpage h2 {
  text-align: center;
  font-size: 27px;
  color: #333;
}
.contactgrid i {
  font-size: 50px;
  color: #ccc;
} 
.contactgrid hr {
  height: 160px;
  width: 1px;
  background: #eee;
}
.contactgrid > div i {
  margin-top: 20px;
  transition: all 0.3s;
}
.contactgrid > div:hover i {
  color: var(--color)
}
.contactgrid > div h4 {
  margin-top: 20px;
  font-size: 19px;
  color: #555;
}
.contactgrid > div h6 {
  font-size: 16px;
  margin-top: 20px;
  color: #555;
  font-weight: 500;
}
.contactdiv {
  margin: 30px auto;
  text-align: center;
  width: 75%;
}
.contactdiv p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 30px;
}
.contactdiv form {
  position: relative;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  text-align: center;
} 
.contactdiv input, .contactdiv textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f1f1f1;
}
.contactdiv textarea {
  min-height: 170px;
}
.contactdiv textarea, .contactdiv button {
  grid-column: span 3;
}
.contactdiv button {
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 15px;
  background: #111;
  color: #fff;
  width: 140px;
  margin: auto;
}
.contactdiv button:hover {
  background: #333;
}

.paymentcont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px 10px;
}
.paymentcont h4 {
  grid-column: span 2;
}
.paymentcont img {
  width: 130px;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s;
}
.paymentcont > div {
  position: relative;
  width: 100%;
}
.paymentcont form {
  position: relative;
  display: grid;
  grid-template-columns: 70% 100%;
  grid-gap: 0px 30px;
  width: 100%;
}
.paymentcont label {
  position: relative;
  width: 100%;
}
.paymentcont label input {
  border: none;
  background: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.paymentcont label input::placeholder {
  color: #ccc;
}
.paymentcont .fullinp {
  grid-column: span 2;
}
.paymentcont label small {
  display: block;
  font-size: 12px;
  margin-left: 0;
  margin-bottom: 5px;
  color: #333;
}
































@media (max-width:1650px) {
  .grid {
    width: 95%;
  }
  .pgrid {
    width: 1050px;
  } 
}
@media (max-width:1080px) {
  footer .grid {
    grid-template-columns:repeat(2,1fr);
  }
  nav {
    background: #fff!important;
  }
  nav .menu {
    display: none;
  }
  .pgrid {
    width: 95%;
  }
  .checkoutgrid, .totalsgrid {
    grid-template-columns: 1fr;
  }
  .mobbtn {
    display: block;
  }
  .mobmenu {
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #fff;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mobmenu a {
    font-size: 25px;
    margin: 20px auto;
    transition: all 0.3s;
    left: 0;
  }
  .mobmenu a:hover {
    left: 15px;
  }
  .mobmenu a:hover hr {
    width: 100%;
    opacity: 0.7;
  }
  .mobmenu a hr {
    width: 0;
    height: 2px;
    background: #111;
    position: absolute;
    top: 5px;
    opacity: 0;
    transition: all 0.3s;
  }
  .mobmenu .fa-times {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 35px;
    color: #111;
    cursor: pointer;
    padding: 5px;
  }
 
}
@media (max-width:600px) {
  footer .grid {
    grid-template-columns:repeat(1,1fr);
  }
  .section2 .innerbanner {
    width: 100%;
  }
  .section2 .innerbanner big {
    font-size: 80px;
  }
  .section4 .salediv {
    width: 200px;
  }
  .section4 .salediv h4 {
    letter-spacing: 15px;
    font-size: 40px;
  }
  .section4 .salediv small {
    letter-spacing: 5px;
  }
 
}
 






