.clientdash {
  display: grid;
  grid-template-columns: 300px auto;
}
.clientdash .sidebar {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.05);
}
.clientdash .homecont {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}  
.innersidebar {
  position: relative;
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.innersidebar::-webkit-scrollbar {
  display: none;
}
.sidebar h4 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #333;
}
.sidemenu h5 {
  font-size: 16px;
  color: #ccc;
  margin: 25px 0;
  cursor: pointer;
  transition: all 0.2s;
}
.sidemenu h5:hover {
  color: #555;
}
.sidemenu h5 i {
  margin-right: 20px;
  font-size: 18px;
}
.promodiv {
  text-align: center;
}
.promodiv img {
  width: 120px;
}
.promodiv h6 {
  font-size: 12px;
  margin: 20px 0;
  color: #777; 
}
.promodiv h6 span {
  color: var(--color);
}
.promodiv hr {
  position: relative;
  width: 80px;
  height: 1px;
  background: #ccc;
}
.sidebarfoot {
  text-align: center;
}
.sidebarfoot button {
  padding: 15px 40px;
  background: #333;
  color: #fff;
  border-radius: 40px;
}
.sidebarfoot button:hover {
  background: #111;
} 
.clientdash .topbar {
  position: fixed;
  top: 0;
  right: 15px;
  width: calc(100% - 315px); 
  height: 120px;
  background: #fafafa;
  z-index: 999;
  box-shadow: none;
  border-left: 1px solid rgba(10, 157, 255,0.04);
  padding: 10px 20px;
  transition: all 0.3s;
}
.clientdash .topbar .left, .clientdash .topbar .right {
  position: relative;
  top: 25px;
}
.clientdash .topbar .sitelink:hover {
  background: rgba(0,0,0,0.03); 
}
.clientdash .topbar input {
  background: #f5f5f5;
}
.clientdash .topbar .profilecont:hover {
  background: rgba(0,0,0,0.03);
}

.clientdash .homecont {
  padding: 30px;
  background: #fafafa;
}
.clientdash .homegrid {
  grid-template-columns: repeat(12, 1fr);
}
.clientdash .homecont .dashbox {
  box-shadow: 0 1px 12px rgba(0,0,0,0.04);
  background: #fff;
  padding: 25px 20px;
  overflow: hidden;
}
.clientdash .homecont .statusbox {
  grid-column: span 4;
  height: 350px;
}
.clientdash .homecont .productsbox {
  grid-column: span 5
}
.clientdash .homecont .updatesbox {
  grid-column: span 3
}
.clientdash .homecont .statusbox h4 {
  color: #333;
  font-size: 17px;
  font-weight: 500;
}
.clientdash .homecont .dashbox small {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 12px;
  color: var(--color);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}
.clientdash .homecont .dashbox small i {
  top: 1px;
  left: 3px;
  transition: all 0.3s;
}
.clientdash .homecont .dashbox small:hover i {
  left: 5px;
}
.clientdash .homecont .smallbox {
  grid-column: span 3;
  height: 250px;
}
.clientdash .homecont .smallbox h5 {
  font-size: 14px;
  font-weight: 500;
}
.clientdash .homecont .smallbox small {
  top: 27px;
}
.clientdash .homecont .trackerbox {
  background: var(--color);
}
.clientdash .homecont .trackerbox h5 {
  color: #fff;
}
.clientdash .homecont .trackerbox h6 {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}
.clientdash .homecont .trackerbox h6 span {
  font-size: 13px;
  float: right;
}
.clientdash .homecont .trackerbox small {
  color: #fff;
}
.clientdash .homecont .dashbox table {
  width: 100%;
  margin-top: 25px;
  text-align: left;
  border-collapse: collapse;
}
.clientdash .homecont .dashbox table th {
  position: relative;
  font-size: 12px;
  color: #333;
  padding-bottom: 20px;
}
.clientdash .homecont .dashbox table td {
  font-size: 13px;
  color: #777;
  padding: 7px 0;
  padding-bottom: 20px;
}
.clientdash .homecont .dashbox table button {
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--color);
  color: #fff;
}
.clientdash .homecont .dashbox table .orderlink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color)
}
.clientdash .homecont .dashbox table img {
  width: 50px;
}
.clientdash .homecont .dashbox table .prodnametd {
  max-width: 60px;
}

.trackprog {
  position: relative;
  margin-top: 70px;
  width: 100%;
} 
.progtube {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 100px;
  background: rgba(255,255,255,0.4);
  overflow: hidden;
}
.progfill {
  position: absolute;
  left: 0;
  height:100%;
  width: 0;
  background: #fff;
  transition: all 1s;
}
.trackpointers {
  position: absolute;
  width: 100%;
}
.trackpointers i {
  color: #eee;
  font-size: 11px;
  font-style: normal;
  position: relative;
  text-align: center;
  line-height: 1.1;
  display: flex;
}
.trackpointers i:nth-of-type(1) {
  left: 7%;
  top: -35px;
}
.trackpointers i:nth-of-type(2) {
  left: 32%;
  top: -7px;
} 
.trackpointers i:nth-of-type(3) {
  left: 60%;
  top: -82px;
}
.trackpointers i:nth-of-type(4) {
  left: 85%;
  top: -55px;
}
.paycard {
  position: relative;
  background: #2e394d; 
  width: 250px;
  height: 140px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  padding: 15px 20px;
  overflow: hidden;
}
.paycard .cardnums {
  position: absolute;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1.3px;
}
.paycard h4 {
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
}
.paycard h6 {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
}
.paycard i.expdate {
  position: absolute;
  bottom: 20px;
  right: 70px; 
  font-size: 11px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
}
.paycard .circle {
  position: absolute;
  bottom: 18px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(2px);
}
.paycard .c1 {
  right: 23px;
}
.paycard .triangle {
  position: absolute;
  left: 130px;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.03);
  transform: rotate(45deg)
}
.clientdash .homecont .addressbox {
  background: #3e58e3;
} 
.clientdash .homecont .addressbox h5 {
  color: #fff;
}
.clientdash .homecont .addressbox small {
  color: #fff;
}
.addressrow {
  position: relative;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 10px;
  height: 170px;
  width: 140px;
  border: 1px solid rgba(255,255,255,0.1);
  float: left;
  z-index: 1;
}
.addressrow i {
  margin-bottom: 10px;
}
.addressrow h6 {
  font-weight: 500;
  margin-bottom: 5px;
  color: #eee;
}
.addressrow h6:nth-of-type(1) {
  font-size: 14px;
  color: #fff;
}
.addressbox {
  overflow: hidden;
}
.addressbox .circle {
  position: absolute;
  top: -23px; 
  right: -12px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgba(255,255,255,0.08);
  z-index: 0;
}
.addnewaddress {
  border: 1px dashed rgba(255,255,255,0.3);
  transition: all 0.2s;
  opacity: 0.5;
}
.addnewaddress > div {
  position: relative;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.addnewaddress:hover {
  opacity: 1;
}
.addnewaddress i {
  font-size: 28px;
}
.addnewaddress h6 {
  font-weight: 500;
}






@media (max-width: 1700px) {
  .clientdash .homegrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .clientdash .homecont .dashbox {
    grid-column: span 2;
  }
}