
.topspacer {
  height: 110px;
}
.clientpage { 
  padding: 30px;
  overflow-y: scroll;
  height: 100vh;
}
.clientpagetitle {
  font-size: 24px;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}
.clientpagesub {
  font-size: 12px;
  margin-bottom: 40px;
  color: #777;
  font-weight: 500;
}
.clientdash {
  display: grid;
  grid-template-columns: 270px auto;
}
.clientdash .sidebar {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  border-right: 1px solid rgba(0,0,0,0.02);
}
.clientdash .homecont {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}   
.clientdash .innersidebar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 60px 40px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.innersidebar::-webkit-scrollbar {
  display: none;
}
.clientdash .sidebar h4 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #333;
}
.clientdash .sidemenu h5 {
  font-size: 15px;
  color: #ccc;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s;
}
.clientdash .sidemenu h5:hover {
  color: #555;
}
.clientdash .sidemenu h5 i {
  margin-right: 20px;
  font-size: 18px;
}
.promodiv {
  text-align: center;
}
.promodiv img {
  width: 90px;
}
.promodiv h6 {
  font-size: 12px;
  margin: 20px 0;
  color: #777; 
}
.promodiv h6 span {
  color: var(--color);
}
.promodiv hr {
  position: relative;
  width: 80px;
  height: 1px;
  background: #ccc;
}
.sidebarfoot {
  text-align: center;
} 
.sidebarfoot button {
  padding: 15px 40px;
  background: #333;
  color: #fff;
  border-radius: 5px; 
}
.sidebarfoot button:hover {
  background: #111;
} 
.clientdash .topbar {
  position: fixed;
  top: 0;
  right: 11px;
  width: calc(100% - 282px); 
  height: 100px; 
  background: #fff;
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  padding: 10px 20px;
  transition: all 0.3s;
}  
.clientdash .topbar .left, .clientdash .topbar .right {
  position: relative;
  top: 15px;
}
.clientdash .topbar .left {
  top: 11px;
}
.clientdash .topbar .sitelink:hover {
  background: rgba(0,0,0,0.03); 
}
.clientdash .topbar input {
  background: #f5f5f5;
}
.clientdash .topbar .profilecont:hover {
  background: rgba(0,0,0,0.03);
}

.clientdash .homecont {
  padding: 30px;
  background: rgba(241, 242, 246,0.7);
}
.clientdash .homegrid {
  grid-template-columns: repeat(12, 1fr);
}
.clientdash .dashbox {
  box-shadow: 0 1px 12px rgba(0,0,0,0.04);
  background: #fff;
  padding: 25px 20px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1)
}
.clientdash .homecont .statusbox {
  grid-column: span 4;
  height: 350px;
}
.clientdash .homecont .productsbox {
  grid-column: span 5
}
.clientdash .homecont .updatesbox {
  grid-column: span 3
}
.clientdash .homecont .statusbox h4 {
  color: #333;
  font-size: 17px;
  font-weight: 500;
}
.boxfader {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  z-index: 10;
}
.clientdash .homecont .dashbox small {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 12px;
  color: var(--color);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}
.clientdash .homecont .dashbox small i {
  top: 1px;
  left: 3px;
  transition: all 0.3s;
}
.clientdash .homecont .dashbox small:hover i {
  left: 5px;
}
.clientdash .homecont .smallbox {
  grid-column: span 3;
  height: 250px;
}
.clientdash .homecont .smallbox h5 {
  font-size: 14px;
  font-weight: 500;
}
.clientdash .homecont .smallbox small {
  top: 27px;
}
.clientdash .homecont .dashbox small a {
  color: var(--color); 
}
.clientdash .homecont .addressbox small a, .clientdash .homecont .trackerbox  small a {
  color: #fff;
} 
.clientdash .homecont .trackerbox {
  background: var(--color);
}
.clientdash .homecont .trackerbox h5 {
  color: #fff;
}
.clientdash .homecont .trackerbox h6 {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}
.clientdash .homecont .trackerbox h6 span {
  font-size: 13px;
  float: right;
}
.clientdash .homecont .trackerbox small {
  color: #fff;
}
.clientdash .homecont .dashbox table {
  width: 100%;
  margin-top: 25px;
  text-align: left;
  border-collapse: collapse;
}
.clientdash .homecont .dashbox table th {
  position: relative;
  font-size: 12px;
  color: #333;
  padding-bottom: 20px;
}
.clientdash .homecont .dashbox table td {
  font-size: 13px;
  color: #777;
  padding: 7px 0;
  padding-bottom: 20px;
}
.clientdash .homecont .dashbox table button {
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--color);
  color: #fff;
}
.clientdash .homecont .dashbox table .orderlink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color)
}
.clientdash .homecont .dashbox table img {
  width: 50px;
}
.clientdash .homecont .dashbox table .prodnametd {
  max-width: 60px;
}

.trackprog {
  position: relative;
  margin-top: 70px;
  width: 100%;
} 
.progtube {
  position: relative;
  width: 100%;
  height: 18px;
  border-radius: 100px;
  background: rgba(255,255,255,0.4);
  overflow: hidden;
}
.progfill {
  position: absolute;
  left: 0;
  height:100%;
  width: 0;
  border-radius: 40px;
  background: #fff;
  transition: all 1s;
  z-index: 50;
}
.trackpointers {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 30px;
}
.progchecks {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.progchecks i {
  color: var(--color);
  font-size: 13px;
  top: 2.5px;
}
.trackpointers i {
  color: #eee;
  font-size: 11px;
  font-style: normal;
  position: relative;
}

.paycard {
  position: relative;
  background: #2e394d; 
  width: 250px;
  height: 140px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  padding: 15px 20px;
  overflow: hidden;
}
.paycard .cardnums {
  position: absolute;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1.3px;
}
.paycard h4 {
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
}
.paycard h6 {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
}
.paycard i.expdate {
  position: absolute;
  bottom: 20px;
  right: 50px; 
  font-size: 11px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
}
.paycard .circle {
  position: absolute;
  bottom: 18px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(2px);
}
.paycard .c1 {
  right: 23px;
}
.paycard .triangle {
  position: absolute;
  left: 130px;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.03);
  transform: rotate(45deg)
}
.clientdash .homecont .addressbox {
  background: #3e58e3;
} 
.clientdash .homecont .addressbox h5 {
  color: #fff;
}
.clientdash .homecont .addressbox small {
  color: #fff;
}
.addressrow {
  position: relative;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 10px;
  height: 170px;
  width: 140px;
  border: 1px solid rgba(255,255,255,0.1);
  float: left;
  z-index: 1;
}
.addressrow i {
  margin-bottom: 10px;
}
.addressrow h6 {
  font-weight: 500;
  margin-bottom: 5px;
  color: #eee;
}
.addressrow h6:nth-of-type(1) {
  font-size: 14px;
  color: #fff;
}
.addressbox {
  overflow: hidden;
}
.addressbox .circle {
  position: absolute;
  bottom: -23px; 
  right: -12px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgba(255,255,255,0.08);
  z-index: 0;
}
.addnewaddress {
  border: 1px dashed rgba(255,255,255,0.3);
  transition: all 0.2s;
  opacity: 0.5;
}
.addnewaddress > div {
  position: relative;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.addnewaddress:hover {
  opacity: 1;
}
.addnewaddress i {
  font-size: 28px;
}
.addnewaddress h6 {
  font-weight: 500;
}
 
.orderbox {
  position: relative;
  width: 670px;
  padding: 20px;
  border-radius: 3px;
  padding-left: 30px;
  background: rgba(235, 237, 240,0.6);
  display: grid;
  grid-template-columns: 60% 35%;
  grid-gap: 10px 15px;
  margin-bottom: 30px;
  border-left: 5px solid transparent;
} 
.orderstatcirc {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #82d300;
  display: inline-block;
  margin-right: 10px;
} 
.orderbox button {
  display: block;
  margin-bottom: 12px;
  width: 100%;
  padding: 13px 0;
  border: 1px solid #333;
  background: none;
}
.orderbox button:hover {
  background: #333;
  color: #fff;
} 
.orderbox h5 {
  grid-column: span 2;
}
.orderbox .trackorderbtn {
  background: #333;
  color: #fff;
} 
.orderbox .trackorderbtn:hover {
  background: #111;
}
.orderboxrow {
  padding: 15px 10px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  margin-bottom: 1px;
}
.orderboxrow img { 
  margin-right: 5px;
  width: 55px;
  height: 60px;
  border-radius: 6px;
}
.multprodimgcont {
  position: relative;
  width: 55px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
.multprodimgcont img {
  filter: brightness(30%);
}
.multprodimgcont span {
  font-size: 16px;
  position: absolute;
  z-index: 10;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  top: 17px;
}
.orderboxrow h4 {
  font-size: 14px;
  margin-left: 20px;
}
.orderboxrow h4 small {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #777;
}
.orderboxrow  small span {
  font-size: 11px;
  color: #aaa;
}
.orderspanel {
  position: fixed;
  top: 0;
  right: -650px;
  width: 600px;
  height: 100%;
  padding: 20px; 
  background: #fff;
  z-index: 999;
  box-shadow: -12px 0px 26px -10px rgba(0,0,0,0.2);
  transition: all 0.4s;
}
.orderspanel h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 23px;
  color: #333;
}
.innerorderspanel {
  position: relative;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.orderspanel .fa-times {
  font-size: 30px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}
.orderspanel h5 {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}
.innerorderspanel::-webkit-scrollbar {
  display: none;
}
.orderpanelsrow {
  width: 95%;
  margin: auto;
  background: #fafafa;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 7px;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderpanelsrow img {
  width: 50px;
}
.orderpanelsrow h6 {
  font-size: 13px;
  color: #555;
  font-weight: 500;
  flex-basis: 25%;
}
.orderpaneltotal {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 95%;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.orderpaneltotal span {
  font-weight: 600;
  float: right;
}
.orderpaneldets {
  margin: auto;
  width: 95%;
  background: #fafafa;
  border-radius: 5px;
  padding: 10px;
}
.orderpaneldets h6 {
  margin: 12px 0;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}
.orderpaneldets h6 span {
  float: right;
  font-weight: 500;
}
.orderspanel button {
  padding: 13px 25px;
  margin-top: 30px;
  background: #333;
  color: #fff;
}
.orderspanel button:hover {
  background: #555;
}

.myaccountpage {
  background: rgba(241, 242, 246,0.7);
}
.myaccountgrid {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.myaccountgrid .mainbox {
  grid-column: span 3;
}
.clientdash .myaccountgrid .dashbox {
  border-radius: 5px;
  border-color: rgba(0,0,0,0.07)
}
.dashprofbox, .helpbox {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  grid-column: span 1;
}
.dashprofbox h6 {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 20px;
} 
.dashprofbox img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
.dashprofbox h4, .helpbox h4 {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}
.profaccountdiv {
  position: relative;
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.profaccountdiv span {
  position: absolute;
  bottom: 5px;
  right: -5px;
  background: var(--color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}
.helpbox i {
  font-size: 50px;
  color: rgba(0,0,0,0.1)
}
.helpbox p {
  font-size: 13px;
  color: #aaa;
  line-height: 1.7;
  text-align: center;
  margin: 20px auto;
  width: 80%;
}
.helpbox button {
  padding: 12px 25px;
  background: var(--color);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 17px -2px rgba(10,157,255,0.33);
}
.helpbox button:hover {
  box-shadow: 0px 10px 17px -2px rgba(10,157,255,0.43);
}
.accountcol1 > div {
  margin-bottom: 20px;
}
.profaccountdiv label {
  cursor: pointer;
}
.dashnav {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.dashnav h5 {
  font-size: 12px;
  color: #999;
  font-weight: 500;
  margin-right: 45px;
  transition: all 0.2s;
  cursor: pointer;
  padding: 10px 0;
  top: -10px;
}
.dashnav h5:hover {
  color: #111;
}
.dashnavliner {
  position: absolute;
  left: 0px;
  top: 25px;
  height: 3px;
  width: 97px;
  background: var(--color);
  transition: all 0.3s;
} 
.dashnav h5:first-child {
  color: #333;
  font-weight: 600;
}
.dashnavsep {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background: rgba(241, 242, 246,1);
  height: 3px;
}
.myaccountgrid [data-tab] {
  display: none;
}
.myaccountgrid [data-tab="1"] {
  display: block;
}
.myaccountgrid [data-tab] form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  width: 95%;  
  margin: auto;
}
.myaccountgrid [data-tab] form > h6 {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
  grid-column: span 6;
}
.myaccountgrid [data-tab] form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px 7px;
}
.myaccountgrid [data-tab] form input::placeholder {
  color: #ddd;
} 
.myaccountgrid [data-tab] form input:focus {
  border-color: var(--color);
}
.myaccountgrid [data-tab] form label h6 {
  color: #777;
  margin-bottom: 10px;
}
.myaccountgrid [data-tab] form select {
  width: 100%;
  padding: 12px 7px;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd; 
}
.myaccountgrid [data-tab] form .span3 {
  grid-column: span 3;
}
.myaccountgrid [data-tab] form .span2 {
  grid-column: span 2;
}
.myaccountgrid [data-tab] form textarea {
  border: none;
  border-bottom: 1px solid #ddd;
  height: 60px;
  resize: vertical;
  width: 100%;
  font-family: inherit;
}
.myaccountgrid [data-tab] form textarea::placeholder {
  color: #ddd;
}
.myaccountgrid [data-tab] button {
  padding: 12px 30px;
  background: var(--color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 17px -2px rgba(10,157,255,0.33);
  margin-top: 50px;
  margin-left: 20px;
}
.myaccountgrid [data-tab] button:hover {
  box-shadow: 0px 10px 17px -2px rgba(10,157,255,0.43);
}
.showpasswordtxt {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  user-select: none;
  transition: all 0.2s;
} 
.trackerpanel {
  position: fixed;
  bottom: -110vh;
  height: 100vh;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  box-shadow: 0px -5px 27px -13px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 30px;
  z-index: 999;
  transition: all 0.4s;
  text-align: center;
}
.trackerpanel .fa-times {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}
.trackerpanel .trackprog {
  margin-top: 0;
}
.trackerpanel h3 {
  color: #777;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
} 
.bigtrackercont {
  position: relative;
}
.trackerpanel .progtube {
  width: 100%;
  height: 40px;
  background: rgba(241, 242, 246);
  margin: auto;
  display: flex;
  align-items: center;
}
.trackerpanel .trackpointers {
  position: relative;
  top: 105px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}
.trackerpanel .trackpointers i {
  color: #555;
  font-size: 13px;
  font-weight: 600; 
  text-align: center;
}
.trackerpanel .trackpointers i small {
  display: block;
  margin-top: 3px;
  color: #999;
  font-size: 11px;
  font-weight: 500;
} 
.trackerpanel .trackpointers i small span {
  display: block;
}
.trackerpanel .progchecks i:nth-of-type(1), .trackerpanel .progchecks i:nth-of-type(2), .trackerpanel .progchecks i:nth-of-type(3) {
  color: #fff;
} 
.trackerpanel .progchecks i {
  font-size: 21px;
  top: auto;
}
.trackerpanel .progfill {
  width: 0%;
  background: var(--color);
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
}
.innertrackerpanel {
  position: relative;
  width: 85%;
  height: 70%;
  margin: auto;
  overflow: hidden;
}
.trackerpanel img {
  width: 90px; 
  margin-right: 20px;
  margin-top: 30px;
}
.trackertablecont {
  position: relative;
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}
.trackertablecont::-webkit-scrollbar {
  display: none;
}
.trackerpanel table {
  position: relative;
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 13px;
  border-collapse: collapse;
}  
.trackerpanel table th, .trackerpanel table td {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.trackerpanel table td {
  padding: 20px 0;
}
.trackerpanel table td span {
  font-weight: 600;
  color: #333;
}
.trackerpanel table th:last-child, .trackerpanel table td:last-child {
  text-align: right;
}
.trackingdetails {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.trackingdetails h5 {
  margin-bottom: 5px;
  width: 300px;
}
.trackingdetails h5 span {
  font-weight: 500;
  float: right;
}
h4.tableheadertxt {
  font-size: 20px;
  color: #777;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;

}








@media (max-width: 1700px) {
  .clientdash .homegrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .clientdash .homecont .dashbox {
    grid-column: span 2;
  }
}